body{background-color: #C3C3C3;}
header{
    width: 100%;
}
.headerdiv{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logodiv{
    padding-top: 42px;
    display: flex;
}
.navbar{
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: middle;
}
.navbar nav, ul, li, a{
    display: flex;
    justify-content: space-between;
    gap: 42px;
}
.navbar nav{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.navbar a{
    font-size: 14px;
    color: #000000E5;
    gap: 42px;

}
.sell{
    padding-top: 42px;
    display: flex;
    
}
.searchlogo{
    display: none;
}
.sell a{
    font-size: 14px;
    color: #FFFFFF;
    background-color: #29B24E;
    padding: 13px 26px 13px 26px;
    border-radius: 12px;
}
@media(width<=1024px){
    .logodiv{
        padding-top: 38px;
    }
    .navbar{
        display: none;
    }
    .sell a{display: none;}
    .searchlogo{ display: flex;}
    


}
section{
    width: 100%;
    padding-top: 41px;

}
.sectiondiv{
    width: 90%;
    margin: auto;
}
aside{
    padding-top: 32px;
    /* width: 23%; */
    max-width: 395px;
    background-color: #F8F8F8;
    border-radius: 24px;
    
}
.container{
    margin-left: 32px;
    margin-bottom: 32px;
    min-height: 751px;
}
.locationdiv h3{
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Poppins';
    
}
.locationdiv{
    margin-bottom: 32px;
}
.propertydiv h3{
    margin-bottom: 13px;
    font-size: 16px;
    font-family: 'Poppins';

}  
.propertydiv{
    margin-bottom: 41px;
}
.pricediv h3{
    margin-bottom: 13px;
    font-size: 16px;
    font-family: 'Poppins';
}
select{
    border: 1px solid #0D9CA436;
    border-radius: 10px;
    padding: 13px 14px  18px;
    outline: none;
    width: 110%;
    display: flex;
    justify-content: space-between;

}
form{
    max-width: 463px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* margin: auto; */
    gap: 10px;
    
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    
}
label{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins';
    display: flex;

}

